{#
/**
 * @file
 * Theme override for the blog listing exposed filter form.
 *
 * Available variables:
 * - form: The exposed filter form.
 */
#}

<div{{ attributes.addClass('views-exposed-form') }}>
  {{ form }}
</div> 