{#
/**
 * @file
 * Default theme implementation to display a Newsletter block.
 *
 * Available variables:
 * - base_path: The base URL path of the Drupal installation.
 * - directory: The directory path of the theme.
 */
#}
<section class="newsletter full-width">
   <div class="newsletter__pattern">
        <img src="{{ base_path ~ directory }}/images/icons/general/pattern.svg" alt="Arrow bottom" />
      </div>
         <div class="newsletter__arrow">
        <img src="{{ base_path ~ directory }}/images/icons/general/arrow.svg" alt="Arrow bottom" />
      </div>
         <div class="newsletter__underline">
        <img src="{{ base_path ~ directory }}/images/icons/general/underline.svg" alt="Arrow bottom" />
      </div>
  <div class="newsletter__content">
   <div class="newsletter__highlight">
        <img src="{{ base_path ~ directory }}/images/icons/general/highlight.svg" alt="Arrow bottom" />
      </div>
    <div class="newsletter__title-wrapper">
        <h2 class="newsletter__title">
        Want to
        </h2>
        <h2 class="newsletter__title-highlight">
        Be up to date?
        </h2>
    </div>
    <p class="newsletter__description body-xl">
      Get the latest insights, trends, and updates delivered straight to your inbox.
    </p>
    <div id="mauticform_wrapper_newslettersubscriptionform" class="mauticform_wrapper newsletter__form">
      <form autocomplete="false" role="form" method="post" id="mauticform_newslettersubscriptionform" data-mautic-form="newslettersubscriptionform">
        <div class="mauticform-innerform">
          <div class="mauticform-page-wrapper mauticform-page-1" data-mautic-form-page="1">
            <div class="newsletter__form-group">
              <div id="mauticform_newslettersubscriptionform_email" class="mauticform-row mauticform-email mauticform-field-1 mauticform-required" data-validate="email" data-validation-type="email">
                <input type="email" name="mauticform[email]" class="newsletter__input mauticform-input" id="mauticform_input_newslettersubscriptionform_email" placeholder="Enter Your Email" required>
              </div>
              <div id="mauticform_newslettersubscriptionform_what_is_12_plus_12" style="display: none !important;">
                <input type="hidden" name="mauticform[what_is_12_plus_12]" value="24" id="mauticform_input_newslettersubscriptionform_what_is_12_plus_12">
              </div>
              <div id="mauticform_newslettersubscriptionform_submit" class="mauticform-row mauticform-button-wrapper mauticform-field-3">
                <button type="submit" name="mauticform[submit]" id="mauticform_input_newslettersubscriptionform_submit" value="1" class="newsletter__submit">Get Started</button>
              </div>
            </div>
            <span class="newsletter__message" style="display: none;"></span>
          </div>
        </div>
        <input type="hidden" name="mauticform[formId]" id="mauticform_newslettersubscriptionform_id" value="1">
        <input type="hidden" name="mauticform[return]" id="mauticform_newslettersubscriptionform_return" value="">
        <input type="hidden" name="mauticform[formName]" id="mauticform_newslettersubscriptionform_name" value="newslettersubscriptionform">
      </form>
    </div>
  </div>
</section> 